<div id="header-wrapper">
  <div id="header" class="container">
    <div class="col-md-12 contact-info text-left">
      <h3>Kontaktne informacie</h3>
      <hr>
    </div>

    <div class="col-md-4 contact-info text-left">
      <div class="info-detail">
        <ul><li><i class="fa fa-calendar"></i><span> Pondelok - Piatok:</span> 8:00 - 18:00 PM</li></ul>
        <ul><li><i class="fa fa-map-marker"></i><span> Adresa:</span> Roznava nejaka adresa 07206</li></ul>
      </div>
    </div>
    <div class="col-md-4 contact-info text-left">
      <div class="info-detail">
        <ul><li><i class="fa fa-phone"></i><span> Telefon:</span> 0910 698 673 / 0948 910 500</li></ul>
        <ul><li><i class="fa fa-envelope"></i><span> Email:</span> l.dubravcak@gmail.com</li></ul>
      </div>
    </div>
    <div class="col-md-4 contact-info text-left">
      <div class="info-detail">
        <ul><li><a href="https://www.facebook.com/laco.dubravcak?fref=ts"><i class="fa fa-facebook"></i> Ladislav Dubravcak</a></li></ul>
        <ul><li><i class="fa fa-skype"></i> La-do1992</li></ul>
      </div>
    </div>
    <div class="col-md-12 contact-info text-center">
      <p>&copy; Copyright © 2016. All rights reserved.</p>
    </div>
  </div>
</div>
