<div id="wrapper">
  <div id="three-column" class="container">
    <div class="banner">
      <img src="../images/background.jpg" alt="" />
    </div>
    <div class="title">
      <h2>S nami je svet jednoduchsi</h2>
    </div>
    <div class="boxA">
      <p>
        Služby, sprostredkovanie pôžičiek a hypotekárnych úverov – Spolupracujeme s teamom vyškolených expertov
        z oblasti finančníctva, ktorí sú kedykoľvek pripravení podať Vám návrhy riešení finančného charakteru.
        Analyzujú, poradia a spoločne s Vami vyberú to najlepšie riešenie na finančnom trhu.</p>
      <a href="#our_work" class="button button-alt">Viac informacii</a>
    </div>
    <div class="boxB">
      <p>Sprostredkovanie autodielov a komponentov na auta – Dlhodobo stabilná firma zaoberajúca sa, dovozom a
        predajom autodielov s najlepšími cenami na trhu. Zabezpečuje diely do rôznych druhov áut, dovoz dielov
        priamo na Vašu adresu, poprípade zabezpečí údržbu a servis auta.</p>
      <a href="#our_work" class="button button-alt">Viac informacii</a>
    </div>
    <div class="boxC">
      <p>Sprostredkovanie týkajúce sa stavebníctva od A po Z – Spolupracujeme s viacerými stavebnými firmami v
        rámci nášho regiónu i mimo neho. Zabezpečíme kompletnú výstavbu rodinných domov, interiéru, exteriéru,
        vodoinštalácie, elektroinštalácie, obkladov, sadrokartónov a mnoho ďalšieho</p>
      <a href="#our_work" class="button button-alt">Viac informacii</a>
    </div>
  </div>
</div>
